
@{
    ViewBag.Title = "NewRelease";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.LayoutMessage = @TempData["LayoutMessage"];
}

<div class="row ">
    <div class="container">
        <h1>Search Result</h1>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-3 mb-2">
                    <div class="card" style="border: none;">
                        <img class="card-img-top" src="~/Content/ProductImages/@item.ProductImage">
                        <div class="card-footer text-center" style="border: none;">
                            <a href="#" class="text-dark">@item.ProductName</a>
                            <br />
                            <a href="#" class="text-danger">@item.ProductPrice</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

