@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <div class="row justify-content-center">
        <a class="nav-link" href="#">SHOP NOW</a>
    </div>

    <div class="row ">
        <div class="container">
            <h1>NEW TO THE SHOP</h1>
            <div class="row">
                <div class="col-md-3 mb-2">
                    <div class="card" style="border: none;">
                        <img class="card-img-top" src="http://www.mihanmedia.ir/userfile/736708307-580x567.jpg">
                        <div class="card-footer text-center" style="border: none;">
                            <a href="#" class="text-dark">Product 1</a>
                            <div class="badge badge-danger">30%</div>
                            <a href="#" class="text-danger">RM 700</a>
                            <br>
                            <small class="text-muted"><del>RM 1000</del></small>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-2">
                    <div class="card" style="border: none;">
                        <img class="card-img-top" src="http://www.mihanmedia.ir/userfile/736708307-580x567.jpg">
                        <div class="card-footer text-center" style="border: none;">
                            <a href="#" class="text-dark">Product 1</a>
                            <div class="badge badge-danger">30%</div>
                            <a href="#" class="text-danger">RM 700</a>
                            <br>
                            <small class="text-muted"><del>RM 1000</del></small>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-2">
                    <div class="card" style="border: none;">
                        <img class="card-img-top" src="http://www.mihanmedia.ir/userfile/736708307-580x567.jpg">
                        <div class="card-footer text-center" style="border: none;">
                            <a href="#" class="text-dark">Product 1</a>
                            <div class="badge badge-danger">30%</div>
                            <a href="#" class="text-danger">RM 700</a>
                            <br>
                            <small class="text-muted"><del>RM 1000</del></small>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-2">
                    <div class="card" style="border: none;">
                        <img class="card-img-top" src="http://www.mihanmedia.ir/userfile/736708307-580x567.jpg">
                        <div class="card-footer text-center" style="border: none;">
                            <a href="#" class="text-dark">Product 1</a>
                            <div class="badge badge-danger">30%</div>
                            <a href="#" class="text-danger">RM 700</a>
                            <br>
                            <small class="text-muted"><del>RM 1000</del></small>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-2">
                    <div class="card" style="border: none;">
                        <img class="card-img-top" src="http://www.mihanmedia.ir/userfile/736708307-580x567.jpg">
                        <div class="card-footer text-center" style="border: none;">
                            <a href="#" class="text-dark">Product 1</a>
                            <div class="badge badge-danger">30%</div>
                            <a href="#" class="text-danger">RM 700</a>
                            <br>
                            <small class="text-muted"><del>RM 1000</del></small>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-2">
                    <div class="card" style="border: none;">
                        <img class="card-img-top" src="http://www.mihanmedia.ir/userfile/736708307-580x567.jpg">
                        <div class="card-footer text-center" style="border: none;">
                            <a href="#" class="text-dark">Product 1</a>
                            <div class="badge badge-danger">30%</div>
                            <a href="#" class="text-danger">RM 700</a>
                            <br>
                            <small class="text-muted"><del>RM 1000</del></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <a class="nav-link" href="#">ACCESSORIES</a>
        <br>
        <a class="nav-link" href="#">APPAREL</a>
    </div>

    <div class="row p-3 justify-content-center">
        Join THE NEWSLETTER
        <br>
        Sign up for a newsletter actually worth subscribing to. No spam just exclusive discounts, product updates, and future events.
    </div>

    <div class="row d-md-flex">
        <div class="p-2 flex-fill bg-info">Flex item 1</div>
        <div class="p-2 flex-fill bg-warning">Flex item 2</div>
        <div class="p-2 flex-fill bg-primary">Flex item 3</div>
        <div class="p-2 flex-fill bg-info">Flex item 1</div>
        <div class="p-2 flex-fill bg-warning">Flex item 2</div>
    </div>
    <div class="row d-md-flex">
        <div class="p-2 flex-fill bg-primary">Flex item 3</div>
        <div class="p-2 flex-fill bg-warning">Flex item 2</div>
        <div class="p-2 flex-fill bg-info">Flex item 1</div>
        <div class="p-2 flex-fill bg-warning">Flex item 2</div>
        <div class="p-2 flex-fill bg-info">Flex item 1</div>
    </div>
</div>
