
@{
    ViewBag.Title = "TermsOfService";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.LayoutMessage = @TempData["LayoutMessage"];
}
<div class="container pt-5">
    <center>
        <h1>OVERVIEW</h1>
        NO REFUNDS OR RETURNS WILL BE MADE FOR SALE ITEMS (sale items include items in under Final Sale tab and/or items that are marked down from original price during a temporary/flash sale). Please double check size and quantity BEFORE purchasing. In order to process a return, read the following section.
        <br><br>
        For questions or concerns, please email us via our Contact Us Page or at info@thehuntandcompany.com
        <br><br><br><br>

        <h1>RETURNS</h1>
        We accept returns within 30 days of delivery for store credit only. Final sale products are not eligible for returns. Only regular priced items may be returned. Returns may not be possible in all cases. The item(s) must be in new condition and in original packaging. Customers will be responsible for return shipping costs. Once we receive your return, a code will be issued via email, along with instructions. This code may be used towards the purchase of any available items.
        <br><br>
        We thank you for your support and understanding. Note that we do not include shipping fees in store credit.
        To start your return process, please click HERE.
        <br><br><br><br><br><br>

        <h1>INCORRECT/DEFECTIVE ORDER</h1>
        If you have received an incorrect or a defective product upon opening your package, please contact us via our Contact Us Page as soon as possible.
        <br><br>
        Hunt and Company is not responsible for damage(s) done to any of our products by a customer who did not properly read the care label located (typically) on the inner neck portion of the products. Any claims beyond the 30 days will be considered wear and tear, and cannot be replaced.

        <br><br><br><br>
        <h1>LATE OR MISSING REFUNDS</h1>
        If you haven’t received a refund yet, first check your bank account again.
        Then contact your credit card company, it may take some time before your refund is officially posted. Next contact your bank. There is often some processing time before a refund is posted. If you’ve done all of this and you still have not received your refund yet, please contact us via our Contact Us Page.

        <br><br><br><br>
        <h1>PRE-ORDERS</h1>
        'Pre-order' is the term used when an item is currently out of stock, but will arrive back in stock within a certain timeframe and is available for pre-purchase. Any order containing a pre-order item will ship 4-5 weeks, or sooner, from the date the order was placed, along with the items that were not pre-order items. Pre-order items are FINAL SALE. On the rare occasion we experience a delay in the delivery of a pre-order style, we will contact you via email.

        <br><br><br><br>
        <h1>FINAL SALE</h1>
        Final sale products cannot be refunded nor returned (final sale items include items in under Final Sale tab and/or items that are marked down from original price during a temporary/flash sale). E-gift cards cannot be refunded. NO REFUNDS, NOR RETURNS WILL BE MADE FOR FINAL SALE ITEMS. For questions or concerns, please email us via our Contact Us Page or at info@thehuntandcompany.com
    </center>
    <br><br><br><br>
</div>

