


<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        #ex4 .p1[data-count]:after {
            position: absolute;
            right: 20%;
            top: 15%;
            content: attr(data-count);
            font-size: 37%;
            padding: .1em;
            border-radius: 50%;
            line-height: 1em;
            color: white;
            background: rgba(255,0,0,.85);
            text-align: center;
            min-width: 1em;
            font-weight:bold;
        }
    </style>
</head>
<body>
    @if (true)
    {
        var count = 44;
        <div id="ex4">
            <span class="p1 fa-stack fa-2x has-badge" data-count="44">
                <i style="font-size:24px" class="p3 fa fa-shopping-cart fa-stack-1x xfa-inverse" ></i>
            </span>
        </div>
    }
    else
    {
        <div id="ex4">
            <span class="p1 fa-stack fa-2x has-badge" >
                <i style="font-size:24px" class="p3 fa fa-shopping-cart fa-stack-1x xfa-inverse"></i>
            </span>
        </div>
    }

</body>
</html>
